@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500&display=swap');
body {
  width : 380px;
  min-height:250px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
h1 {
  font-weight: 200;
  font-size: 30px
}
h2 {
  font-weight: 400;
}
a:hover {
  cursor: grab;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}
.item{
  padding: 10px;
  margin: 10px 5px 10px 5px;
  border-radius: 5px;
  box-shadow:  0 0 5px #BBBBBB ;
  list-style: none;
}
